@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    color: #2d333a;
    font-size: 18px;
  }

  header {
    text-align: center;
    background-color: #fff;
    padding: 1em;
  }

  p {
    margin: 15px;
    padding: 5px;
    line-height: 1.4em;
  }
  
main {
    flex-grow: 1;
  }
  
  header,
  main,
  footer {
    flex-shrink: 0;
  }

  
  
  footer {
    margin-top: auto;
    text-align: center;
    background: #fff;
  }
  

  .wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    margin: 0 auto;
    background-color: #feeed6;
  }

/***********************
Start media section
***********************/
@media all and (max-width: 600px) {
  .navcontainer {
    flex-wrap: wrap;
  }

  .navcontainer > li {
    flex-basis: 50%;
  }

  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    display: block;
    margin-bottom: 0.6em;
  }

  table td {
    display: block;
    font-size: 0.8em;
    text-align: left;
  }

  table td::before {
    float: left;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media all and (max-width: 400px) {
  .navcontainer > li {
    flex-basis: 100%;
  }
}
/***********************
End media section
***********************/

/***********************
Start a link section
***********************/
a {
  text-decoration: none;
  color: #253145;
}

a:visited {
  text-decoration: none;
  color: #253145;
}

a:hover {
  text-decoration: none;
  color: #feaa97;
}
/***********************
End a link section
***********************/

/***********************
Start nav section
***********************/
.navcontainer {
    display: flex;
    background-color: #fff;
  }
  
  .navcontainer li {
    flex: 1;
  }
  
  nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 15px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
/***********************
End nav section
***********************/

/***********************
Start banner img section
***********************/
section {
  display: flex;
  justify-content: center;
}

section img {
  flex-flow: row nowrap;
  align-items: center;
  flex-basis: auto;
  /* Had to add in order to have cross browser support */
  height: 100%;
  width: 100%;
}

/* .banner-text {
    position: absolute;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    text-shadow: -3px -4px 5px rgba(150, 150, 150, 1);

} */
/***********************
End banner img section
***********************/

/***********************
Start table section (index)
***********************/
table {
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  padding: 0.35em;
}

table th,
td {
  padding: 0.6em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.classoffering {
  text-align: center;
}
/***********************
End table section (index)
***********************/

/***********************
Start about page
***********************/
.companydirectory {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding: 5px;
  line-height: 1.4em;
  justify-content: center;

}

.companydirectory h3 {
  text-decoration: underline;
  flex: 1;
}

.companydirectory dd {
  padding-left: 30px;
  flex: 1;
}

video {
    flex: 2;
    align-self: center;
    padding: 15px;
}
/***********************
End about page
***********************/

/***********************
Start returns page
***********************/
.returns {
  margin: 15px;
  padding: 5px;
  line-height: 1.4em;
}

.returns h3 {
  text-decoration: underline;
}

.returns dd {
  padding-left: 30px;
}
/***********************
End returns page
***********************/

/***********************
Start links page
***********************/
.partnerlinks {
  margin: 15px;
  padding: 5px;
  line-height: 1.4em;
}

.partnerlinks h3 {
  text-decoration: underline;
}

.partnerlinks ul li {
  list-style: none;
}
/***********************
End links page
***********************/

/***********************
Start contact form 
***********************/
select, option, input, label, button{
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    color: inherit;
}

form {
    margin: 1em;
}

.form-box {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.form-box input,
.form-box select,
.form-box textarea,
.form-box checkbox{
    flex-basis: 100%;
}

/***********************
End contact form 
***********************/